[Unit]
Description=GSpot Service
After=network.target

[Service]
User=bitnami
Group=bitnami
WorkingDirectory=/home/bitnami/gspot
EnvironmentFile=/home/bitnami/gspot/.env
ExecStart=/usr/bin/node /home/bitnami/gspot/dist/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
