POSTGRES_HOST=localhost
POSTGRES_DB=gspot_db
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_SSL=false
REDIS_URL=redis://localhost:6379
NODE_ENV=development
PORT=3001
EMAIL_PROVIDER=console
EMAIL_PROVIDER_KEY=KEY
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-central-1
S3_BUCKET=gspot-uploads-dev
AWSS3_ACCESS_KEY_ID=
AWSS3_SECRET_ACCESS_KEY=