POSTGRES_HOST=localhost
POSTGRES_DB=gspot_db
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_SSL=false
REDIS_URL=redis://localhost:6379
NODE_ENV=development
PORT=3001
EMAIL_PROVIDER=console
EMAIL_PROVIDER_KEY=RESEND_KEY
AWS_REGION=eu-central-1
AWSSES_ACCESS_KEY_ID=KEY
AWSSES_SECRET_ACCESS_KEY=SECRET
